body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
}

div {
  width: 500px;
  /* height:500px; */
  margin: auto;
  background-color: red;
}

table {
  background-color: #c5d6c6;
  border-spacing: 0;
}

td {
  border: 1px solid #f1f5da;
  width: 8px;
  height: 8px;
  padding: 0;
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: #cc4774;
  border-radius: 10px;
}
